/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}

.animate-heartBeat {
  animation: heartBeat 1s ease-in-out;
}

/* Thêm animation cho transition state */
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.transition-all {
  animation: fadeInScale 0.3s ease-out;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 300px; /* Thay đổi giá trị này để làm dài thêm thanh tìm kiếm */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: width 0.3s ease; /* Thêm hiệu ứng chuyển tiếp nếu bạn muốn */
}

.search-bar .close-btn {
  margin-left: 10px; /* Thêm khoảng cách giữa ô nhập và nút đóng */
  background: transparent;
  border: none;
  font-size: 18px; /* Kích thước biểu tượng đóng */
  cursor: pointer;
}
